
{% extends "templates/page.html" %}
{% block script %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TQQ0SJ6HC8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-TQQ0SJ6HC8');
</script>
{% endblock %}

{% block header_buttons %}
  <span id="login_widget">
    <a class="pull-right" style="text-decoration: none; color:black; vertical-align:middle;" href="https://github.com/ProjectPyRhO" target="_blank"><span style="margin-left: 5px; margin-right: 5px; vertical-align:middle;">{% if notebook_name %}+{% else %}Prometheus{% endif %}</span><img src="https://raw.githubusercontent.com/ProjectPyRhO/Prometheus/master/resources/images/PyRhO_logo_crop.png" height='28px' style="vertical-align:middle;"/></a>
  </span>
{% endblock %}
